body.submission-tracking {
    background-color: $cream;

    /**
     * Common Header
     */
    header {

        img {
            height: 32px;
        }

        @include media-breakpoint-down(sm) {
            margin-top: 50px;
        }
    }

    .container-sm {
        @include make-container();
        max-width: em-calc(800);
        .row {
            @include media-breakpoint-down(sm) {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }

    /**
     * Submission Tracker Page
     */
    #submission-tracking-results {

        $overhang: 50px;

        // Navy full-width bar at the top
        .entry-content {
            background-color: theme-color('navy');
            padding: 25px 15px $overhang 15px;

            // Submission Tracker Navigation
            .tracking-nav {

                a {
                    color: #fff;
                    transition: opacity .3s ease;

                    &:hover, &:focus {
                        text-decoration: none;
                        opacity: 0.8;
                    }
                }

                #reset-search {
                    font-weight: 500;
                    position: relative;

                    &::before {
                        @include fa($fa-var-chevron-left);
                        padding-right: 6px;
                    }
                }

            }

        }

        .progress-overview {
            margin-top: $overhang / -1;
            margin-bottom: 50px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 35px;
            }

            .progress-overview-wrapper {
                background-color: #fff;
                border-radius: 12px;
                box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
                padding: 20px;

                .timeline {
                    display: flex;
                    flex-flow: row nowrap;
                    width: 100%;

                    .progress.step {
                        width: 100%;
                        border-radius: 0;
                        background-color: #D8D8D8;
                        margin-right: 5px;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.primary {
                            flex-basis: 400%;
                            @include media-breakpoint-down(sm) {
                                flex-basis: 320%;
                            }
                        }
                        &.notInProduction {
                            .progress-bar {
                                width: 0 !important;
                            }
                        }
                    }

                    .stage {
                        $height: 5px;
                        width: 100%;
                        height: $height;
                        margin-right: $height;
                        background-color: #D8D8D8;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.primary {
                            flex-basis: 400%;
                            @include media-breakpoint-down(sm) {
                                flex-basis: 320%;
                            }
                        }

                        &.active {
                            background-color: theme-color('primary');
                        }
                    }


                }
            }

        }

        .stripe-bg {
            background-color: rgba(#A0A0A0, 0.07);
        }

        .production-jobs {
            margin-top: 50px;
            @include media-breakpoint-down(sm) {
                margin-top: 35px;
            }

            .job-table {
                width: 100%;
            }


            table.tasks {
                background-color: #fff;
                box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
                width: 100%;
                border-spacing: 0;
                border-radius: 12px;

                th, td {
                    vertical-align: middle;
                    padding: 14px 4px;
                }

                td {
                    padding-right: 15px;
                }

                th {
                    font-weight: bold;
                    padding-left: 15px;
                    padding-right: 20px;
                    @include media-breakpoint-up(md) {
                        padding-left: 30px;
                    }
                }


                tr:first-child {
                    th, td {
                        padding-top: 30px;
                    }
                }
                tr:last-child {
                    th, td {
                        padding-bottom: 30px;
                    }
                }

                //tr:nth-child(odd) {
                //    background-color: theme-color-level(cream, 1);
                //}

                .status-icon {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    position: relative;

                    &::after {
                        @include fa(null, 'solid');
                        position: absolute;
                        color: #fff;
                        font-size: 12px;
                        width: 100%;
                        top: 50%;
                        text-align: center;
                        left: 0;
                        transform: translateY(-50%);
                    }

                    &.true {
                        background-color: rgba(theme-color(success), 0.2);
                        border: 1px solid theme-color(success);

                        &::after {
                            color: theme-color(success);
                            content: fa-content($fa-var-check);
                        }
                    }

                    &.false {
                        background-color: rgba(theme-color(warning), 0.2);
                        border: 1px solid theme-color(warning);

                        &::after {
                            color: theme-color(warning);
                            content: fa-content($fa-var-ellipsis-h);
                        }
                    }

                }

            }

        }

    }

    /**
     * Search Page
     */
    .container-fluid.search {
        .main-content {
            padding: 5%;
            height: 100vh;
            position: relative;

            header {
                position: absolute;
                top: 5%;
                left: 5%;
            }

            .form-wrapper {
                @include media-breakpoint-up(md) {
                    margin-bottom: 50px;
                }

                input::placeholder,
                input[placeholder] {
                    text-transform: none !important;
                }

            }

        }

        .img-container {
            height: 100vh;
            max-height: 1600px;
            position: relative;

            @include media-breakpoint-down(sm) {
                display: none !important;
            }

            .img {
                position: absolute;
                width: 98%;
                height: 96%;
                top: 2%;
                background-color: theme-color-level(light, 2);
                border-radius: 20px;
                background-image: url('/assets/img/tracking-hero.jpg');
                background-size: cover;
                background-position: center center;
            }
        }
    }

}
