.bottom-wrapper {
    z-index: 1051 !important;

    & > .row {
        display: block;
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

// Bottom Bar
.bottom-bar {
    border-top: #D6DFE6 1px solid;
    background-color: #FFFFFF;
    height: 70px;

    & > .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1050px;
        margin: 0 auto;
    }

    // Bottom bar buttons
    .btn {

        padding: 14px;
        @include media-breakpoint-up(sm) {
            padding: 13px 35px;
        }

        &.reset {
            padding: 5px 15px;

            span {
                padding-right: 8px !important;
            }
        }

        span {
            font-size: rem-calc(10);
            vertical-align: middle;

            &.pl {
                padding-left: 15px;
            }

            &.pr {
                padding-right: 15px;
            }
        }

    }

}

// Voucher specific bottom bar
.voucher-bottom-bar {
    positon: fixed;
    transition: $transitions;
    bottom: 0;
    left: 0;

    &.hidden {

    }

}

