.btn {
  font-weight: 600;
  font-size: rem-calc(15);
  padding: rem-calc(7, 20, 9, 20);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);

  &-primary:hover {
    opacity: 0.65;
  }

  &-primary,
  &-primary:disabled,
  &-primary.disabled {
    color: #ffffff;
  }

  &-sm {
    padding: 10px !important;
  }
  &-grey {
    color: #fff;
    background-color: $brand-grey;
  }
  &-grey:hover {
    color: #fff;
    background-color: $gray-700;
  }

  // Outlines
  &-outline- {
    &secondary {
      color: #3C3845;
      border-radius: 4px;
      background: none;
      &:hover,
      &:active,
      &:focus {
        color: #fff !important;
      }
    }
  }

  &.nav-group { //inline button groups we use as navs
    &:disabled,
    &[disabled="true"] {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events:none;
      //filter: grayscale(100%);
    }
  }

}

.small-button {
  padding: 5px 10px 4px 10px;
}

.round {
  border-radius: 50%;
}

.btn.disabled, .btn:disabled {
    opacity: 0.45;
}

.status-pill-tooltip {
  .tooltip-inner {
    border-radius: 160px;
    padding: 10px;
  }
}
