// Core Colours
$brand: #FA6D6D;
$cream: #F7F5ED;

// Monochrome
$brand-black: #262626;
$brand-grey: #3C3845;

$theme-colors: (
		"coral": #FA6D6D,
		"cream": #F7F5ED,
		"font-dark": #32373B,
		"navy": #19476E,
		"pink": #FFD9D1,
		"background-shade": #F7FAFC
);
