.page-wrapper > .container-fluid {
    padding: 40px;
    @include media-breakpoint-down(sm) {
        padding: 20px;
    }
}

// Cards
.card {
    height: 100%;
    border: 1px solid #E7E7E7;
    border-radius: 2px;

    &-header {
        background-color: #FFF;
        border-bottom: 1px solid #E7E7E7;

        & > * { // neutralise margins for text objects
            margin-bottom: 0;
        }
    }

    &.transparent {
        background: none;
    }

    &-body {
        background-color: theme-color(background-shade) !important;
        padding: rem-calc(30, 30);
        @include media-breakpoint-down(sm) {
            padding: rem-calc(25, 20);
        }


        .card-title {
            @include font-size(14);
        }

        ul.card-details {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                padding-bottom: 8px;


                // Editing a submission specific
                button.hover {
                    opacity: 0;
                    margin-left: 6px;
                }

                &:not(.editable) {
                    button {
                        display: none;
                    }
                }

                &.editable {
                    &:hover {
                        button.hover {
                            opacity: 1;
                        }
                    }
                }


                hr {
                    margin-left: 0;
                    max-width: 100px;
                    width: 35%;
                }

                span {
                    display: inline-block;

                    i {
                        vertical-align: middle;
                    }
                }


                span.label,
                & > span:first-child {
                    @include p-style(14);
                    opacity: 0.7;
                    width: 50%;
                    max-width: 100px;
                    padding-right: 5px;
                }

                span.value,
                & > span:not(:first-child) {
                    @include p-style(14);
                    flex-grow: 1;
                }

                span.sub-value {
                    display: block;
                    width: 100%;
                    line-height: 1;
                    @include font-size(13);
                    opacity: 0.7;
                }

                span.yes {
                    color: theme-color(success);
                }

                span.no {
                    color: theme-color(danger);
                }

                span.no-muted {
                    color: $text-muted;
                }

            }
        }

    }
}

// New Cardless UI
.CardlessUI {

    // i.e. Row
    .box-divider-bottom {
        box-shadow: inset 0 -1px #E1E1E1;
    }

    .box-border-right {
        box-shadow: inset -1px 0 #E1E1E1;
    }

    .box-title {
        @include font-size(15);
    }

    // base paragraph style
    p {
        @include p-style(15);
    }

    ul.card-details {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            flex-direction: row;
            padding-bottom: 4px;


            // Editing a submission specific
            button.hover {
                opacity: 0;
                margin-left: 6px;
            }

            &:not(.editable) {
                button {
                    display: none;
                }
            }

            &.editable {
                &:hover {
                    button.hover {
                        opacity: 1;
                    }
                }
            }


            hr {
                margin-left: 0;
                max-width: 100px;
                width: 35%;
            }

            span {
                display: inline-block;
                white-space: normal; // to wrap the text

                i {
                    vertical-align: middle;
                }
            }

            // First Span (or Label class span)
            span.label,
            & > span:first-child {
                @include p-style(14);
                opacity: 0.7;
                width: 50%;
                max-width: 100px;
                padding-right: 5px;

                @include media-breakpoint-up(md) {
                    flex: 0 0 20%;
                    min-width: 180px;
                    max-width: 240px;
                }

            }

            span.value,
            & > span:not(:first-child) {
                @include p-style(14);
                flex-grow: 1;
            }

            span.sub-value {
                display: block;
                width: 100%;
                line-height: 1;
                @include font-size(13);
                opacity: 0.7;
            }

            span.yes {
                color: theme-color(success);
            }

            span.no {
                color: theme-color(danger);
            }

        }
    }

}


// Image container
img {
    max-width: 100%;
}
