.page-wrapper > .container-fluid {
  padding: 40px;
  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
}

// Cards
.card {
  height: 100%;
  &.transparent {
    background: none;
  }
  &-body {
    background-color: #fff;
    border: 1px solid #EAEAEA;
    padding: rem-calc(30,50);
    @include media-breakpoint-down(sm) {
      padding: rem-calc(25, 20);
    }

    .inner-section {
      margin-bottom: rem-calc(30);
    }

    h5.card-title {
      font-size: rem-calc(19);
      font-weight: 700;
    }

    ul.card-details {
      list-style-type: none;
      padding: 0;
      margin: 0 0 1rem 0;
      li {}
    }

  }
}


// Image container
img {
    max-width: 100%;
}
