.pdf_wrapper {
	$debug: FALSE;
	$guides: FALSE;

	top: 0;
	width: 210mm;
	z-index: -9999;
	position: absolute;

	&.landscape {
		width: 297mm !important;

		.pdf_container {
			height: 210mm !important;
		}
	}

	@if ($debug == TRUE) {
		position: relative;
		z-index: 0;
		border: 1px solid red;
	}

	.pdf_container {
		&.single-page {
			height: 295mm;
			@if ($guides == TRUE) {
				& * {
					border: 1px solid aqua;
				}
			}
		}


		.table-main {
			display: table;
			width: 100%;
			height: 100%;

			.inner-cell {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.table {
			display: table;

			.table-cell {
				display: table-cell;
			}
		}


	}

	// Event Menu Design
	&.event_menu {
		img.menu-header {
			max-width: 48mm;
			text-align: center;
			margin-bottom: 2.5cm
		}

		.blurb {
			width: 50%;
			margin: 0 auto 2.5cm auto;

			p {
				text-align: justify;
				font-size: 9pt;
				line-height: 15pt;
			}
		}

		.event-details {
			margin: 0 auto;
			width: 50%;

			.logo {
				text-align: right;
				vertical-align: middle;
				padding-right: 6mm;
			}

			.details {
				text-align: left;
				vertical-align: middle;
				padding-left: 6mm;

				p {
					margin-bottom: 0;
					font-size: 10pt;

					span.date {
						font-size: 9pt;
						color: theme-color("primary");
					}
				}
			}
		}

		// Page Layout
		.single-page {
			display: table;
			width: 100%;
		}

		.inline-page {
			width: 50%;
			height: 100%;
			display: table-cell;
		}

		.rear {

		}

	}

}


.print_wrapper {
	position: absolute;
	top: 0;
	background: #fff;
	display: none !important;
	left: -99999px;
}

@function toPt($mm) {
	@return $mm * 2.834645669pt;
}


.size-label {
	//width: 175pt;
	//height: 82pt;
	//padding: 12pt 8pt; // 12pt 4pt works
	width: toPt(62);
	height: toPt(29);
	padding: toPt(3) toPt(2);

	&.page {
		font-family: $font-headers;
		background: #fff;
		overflow: hidden;
	}

	& * {
		overflow: hidden;
		color: black !important;
	}

	.label-inner-wrapper {
		width: 100%;
		height: 100%;
		display:table;
		//border: 1px solid black;
	}

	p {
		display: table;
		font-weight: 600;
		line-height: 1.3;
		margin: 0;
		color: black !important;

		span {
			display: table-cell;
			vertical-align: middle;
		}

		span.castingLabel {
			text-transform: uppercase;
			font-size: 10px;
			font-weight: 500;
			padding-right: 5px;
			line-height: 1;
			padding-top: 2px;
		}

		span.castingCode {
			font-weight: bold;
		}

		&.details {
			font-size: 8px;
		}

		&.reg-code {
			font-size: 10px;
			letter-spacing: 0.5px;
		}
	}

	.tin-size {
		height: 100%;
		//border-right: 2px dashed blue;
	}

	.registration-page {
		height: 100%;
		width: 100%;

		p {
			font-size: 11px;
			text-align: center;
			margin: 0 auto;
			color: black !important;
			&.border {
				border: 2px solid black !important;
				padding: 4px;
				width: 75%;
				font-size: 14px;
			}
		}


	}

	.align-middle {
		display: table-cell;
		vertical-align: middle;
	}


}
