.table-search {

	.ng-select {
		@include media-breakpoint-up(sm) {
			min-width: 140px;
		}

		.ng-select-container {
			height: calc(1.5em + 0.75rem + 2px);
			border-radius: 4px 0 0 4px;
			box-sizing: border-box;
			padding-top: 0.375rem;
			padding-bottom: 0.375rem;

			.ng-value-container {
				height: 38px;
			}

			.ng-value-container,
			.ng-option {
				@include font-size(15);
			}

		}


	}

	input[type="search"] {
		border-radius: 0 4px 4px 0;
		border-left-width: 0;
		box-sizing: border-box;
		height: 38px;
	}



}