// Main Menu Sidebar
aside.ng-sidebar.menu-menu-sidebar {
	background-color: #F7FAFC;
	border-right: 1px solid #E1E1E1;
	box-sizing: border-box;
	color: $body-color;

	&--closed,
	&--docked {
		//width: 50px;
	}

	.close-icon {
		display: none;
	}
	.sidebar-nav {
		@include media-breakpoint-down(md) {
			position: relative;
			.close-icon {
				display: block;
				position: absolute;
				top: 8px;
				right: 0px;
				z-index: 2;
			}
		}
	}

	.sidebar-brand {
		padding: 20px 20px 30px 25px;
		img {
			width: 84px;
		}
	}

}

// Main Sidebar
aside.ng-sidebar.main-sidebar {
    width: 600px;
    max-width: 100%;
    background-color: #fff;
    z-index: 4 !important;
    padding: 40px 30px;

    // Close button
    .close {
        @include font-size(40);
        position: absolute;
        top: 15px;
        right: 30px; // same as container padding
    }

}

// Backdrop hacking
.ng-sidebar__backdrop {
    transition: opacity .3s ease-in-out;
    opacity: 0 !important;
    z-index: 3 !important;
}
