// Status Colours
@include status-style('pending', lighten(#e98800, 40%), darken(#e98800, 10%));
@include status-style('updating', lighten(#f02210, 40%), darken(#f02210, 10%));
@include status-style('customer-submitted', lighten(#32b6df, 40%), darken(#32b6df, 5%));
@include status-style('awaiting-batching', lighten(#32b6df, 40%), darken(#32b6df, 5%));
@include status-style('partner-batch-in-transit', lighten(#52b68f, 40%), darken(#52b68f, 5%));
@include status-style('partner-batch-created', lighten(#CD5C5C, 35%), darken(#CD5C5C, 5%));
@include status-style('submission-received', lighten(#70D820, 40%), darken(#70D820, 10%));
@include status-style('production-complete', lighten(#20B2AA, 40%), darken(#20B2AA, 10%));
@include status-style('completed-batch-created', lighten(#651fff, 40%), darken(#651fff, 10%));
@include status-style('manufacturer-batch-created', lighten(#e98800, 40%), darken(#e98800, 10%));
@include status-style('in-production', lighten(#32b6df, 40%), darken(#32b6df, 5%));
@include status-style('with-outworker', lighten(#651fff, 40%), darken(#651fff, 10%));
@include status-style('completed-batch-in-transit', lighten(#3b97d1, 40%), darken(#3b97d1, 10%));

.status-pill {
	span {
		white-space: nowrap;
		font-family: $font-family-sans-serif;
		@include font-size(14);
		padding: 10px 20px;
		border-radius: 25px;
		font-weight: bold;
	}
}