.form-container {
	max-width: 1300px;
}

table.table {
	$font-size: 13;

	// General Styles
	thead,
	tbody {
		tr:not(.spacer) {
			background-color: #fff;

			th {
				padding: 1rem 0;
				text-transform: none;
				@include font-size($font-size);
				font-weight: 600;
				min-width: 90px;
			}

		}
	}

	// Table HEAD
	thead {
		padding: 20px;

		tr {
			background-color: #fff;
			padding: 15px 0 !important;

			&.search-head-top {
				border: none;
				padding-bottom: 0;

				th {
					padding-top: 0;
				}
			}

			th {
				font-family: $font-headers;
				font-weight: 500 !important;
				@include font-size(12, true);
				color: $dark;
			}
		}
	}

	@mixin status-style($status, $background: #fff, $color: #000) {
		&.status-#{$status} {
			td.status > span {
				color: $color;
				background: $background;
			}
		}
	}

	// Table BODY
	tbody {
		tr {
			transition: all .3s ease;
			background-color: #fff;

			&:hover {
				background-color: darken(#fff, 3%);
			}

			td {
				padding: 5px;
				vertical-align: middle;
				@include font-size($font-size);

				a {
					text-decoration: underline;
					color: inherit;

					&:hover {
						color: theme-color('primary');
					}

					&[target="_blank"] {
						text-decoration: none;

						&::after {
							@include fa-icon;
							@extend .fas;
							content: fa-content($fa-var-external-link-alt);
							text-decoration: none;
							font-size: 12px;
							vertical-align: middle;
							padding-left: 6px;
							margin-bottom: 2px;
						}
					}
				}

				span.muted {
					opacity: 0.5;
				}

			}


			&[class^="status-"] {
				td.status {
					span {
						padding: 5px 20px;
						line-height: 13px;
						font-weight: 500;
						border-radius: 2px;
						@include font-size(14);
						white-space: nowrap;
					}
				}
			}

			&.status-pending {
				opacity: 0.5;
			}

			@include status-style('pending', lighten(#e98800, 40%), darken(#e98800, 10%));
			@include status-style('updating', lighten(#f02210, 40%), darken(#f02210, 10%));
			@include status-style('customer-submitted', lighten(#32b6df, 40%), darken(#32b6df, 5%));
			@include status-style('awaiting-batching', lighten(#32b6df, 40%), darken(#32b6df, 5%));
			@include status-style('partner-batch-in-transit', lighten(#52b68f, 40%), darken(#52b68f, 5%));
			@include status-style('partner-batch-created', lighten(#CD5C5C, 35%), darken(#CD5C5C, 5%));
			@include status-style('submission-received', lighten(#70D820, 40%), darken(#70D820, 10%));
			@include status-style('production-complete', lighten(#20B2AA, 40%), darken(#20B2AA, 10%));
			@include status-style('completed-batch-created', lighten(#651fff, 40%), darken(#651fff, 10%));
			@include status-style('manufacturer-batch-created', lighten(#e98800, 40%), darken(#e98800, 10%));
			@include status-style('in-production', lighten(#70D820, 40%), darken(#70D820, 10%));
			@include status-style('completed-batch-in-transit', lighten(#3b97d1, 40%), darken(#3b97d1, 10%));
		}
	}

	// Selected Text
	p.selected-text {
		color: theme-color-level('dark', -4);
		@include font-size(14);
		margin-bottom: 0;
	}

	&.kit-submissions {
		tr.status-pending {
			opacity: 1 !important;
		}
	}

	// Styling for list view tables
	&.list-view {

		border-collapse: separate;
		border-spacing: 0 12px;

		thead,
		tbody {
			tr:not(.spacer) {
				background-color: #fff;
				box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
				border-radius: 3px;

				th {
					padding: 1rem 0;
					text-transform: none;
					@include font-size($font-size);
					font-weight: 600;
					min-width: 90px;
				}

			}
		}

		thead {
			padding: 20px;
			position: sticky;
			top: 0;

			tr {
				background-color: #fff;
				box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
				border-radius: 3px;
				padding: 15px 0 !important;

				&.search-head-top {
					border: none;
					padding-bottom: 0;

					th {
						padding-top: 0;
					}
				}

				th {
					font-family: $font-headers;
					font-weight: 500 !important;
					@include font-size(12, true);
					color: $dark;
					border-top: none;
				}
			}
		}

		tbody {
			tr:not(.spacer) {
				transition: all .3s ease;
				background-color: #fff;

				&:hover {
					background-color: darken(#fff, 3%);
				}

				&.selected {
					box-shadow: inset 0 0 0 2px $navy;
				}

				td {
					height: 75px;
					padding: 5px;
					vertical-align: middle;
					@include font-size($font-size);
					line-height: 1.2;
					border-top: none;

					a {
						text-decoration: underline;
						color: inherit;

						&:hover {
							color: theme-color('primary');
						}

						&[target="_blank"] {
							text-decoration: none;

							&::after {
								@include fa-icon;
								@extend .fas;
								content: fa-content($fa-var-external-link-alt);
								text-decoration: none;
								font-size: 12px;
								vertical-align: middle;
								padding-left: 6px;
								margin-bottom: 2px;
							}
						}
					}

					span.muted {
						opacity: 0.5;
					}

				}

			}

			tr.spacer {
				background-color: transparent !important;
				border: none !important;

				td {
					padding: 0;
					border: none;
					vertical-align: middle;
					text-align: center;
				}
			}

			tr.job-actions {
				background: aqua;
				padding: 25px;

				td {
					.inner {
						display: block;
						width: 100%;
						position: relative;
						top: -12px;
					}
				}
			}
		}

	}
}


.flex-table-wrapper {
	overflow-x: scroll;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.flex-table {
	@include media-breakpoint-up(md) {
		width: 100%;
	}

	// Generic Styling for the table
	.tr {
		display: flex;
		text-align: left !important;
		align-items: center;
		width: 100%;
	}

	.th, .td {
		padding: 4px 8px;
		display: flex;
		flex: 1;
		flex-flow: column wrap;
		min-width: 60px;

		& > div {
			width: 100%;
		}

		// Mini columns
		&.mini-column {
			min-width: 40px;
			flex: 0 0 40px;
		}

	}

	// Table rows (header and body)
	.table-header {
		box-shadow: 0 2px 6px 0 rgba(#000, 0.08);
	}

	.table-header,
	.table-row {
		background: #fff;
		border: none;
		border-radius: 3px;
		@include font-size(12);
		padding: 10px 5px;
	}

	.row-group {
		position: relative;
		margin-bottom: 12px;
		width: 100%;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 2px 6px 0 rgba(#000, 0.08);
	}

	.table-header {
		margin-bottom: 20px;
		font-family: $font-headers;
		font-weight: 500;
	}

	.table-row {
		background-color: #fff;
		font-family: $font-family-sans-serif;
		@include font-size(13);

		.td {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	// Header Highlighting
	/*
	.th {
		font-weight: bold;
	}
	.th[role*="rowheader"] {
		background-color: lightgreen;
	}
	.th[role*="columnheader"] {
		background-color: lightpink;
	}
	 */


}


.jobs-table {
	.tr:not(.panel) {
		.th, .td {

			.checkbox-wrapper {
				margin: 0 auto !important;
			}

			&.job-type {
				padding: 5px;

				a {
					padding-left: 2px;
					@include font-size(10);
				}
			}

			span.muted {
				color: $text-muted;
			}

			// Flex grows
			.fg-2 {
				flex-grow: 2;
				@include media-breakpoint-down(sm) {
					min-width: 100px;
				}
			}
			.fg-3 {
				flex-grow: 3;
				@include media-breakpoint-down(sm) {
					min-width: 150px;
				}
			}

			// Status pill
			&.status {
				@include media-breakpoint-down(sm) {
					min-width: 75px;
				}
			}
		}
	}

	// Row specific
	.tr {
		&.panel {

		}

		i {
			transition: transform .3s ease;
			@include font-size(10);
			vertical-align: middle;
		}
	}
	.row-group.rush {
		.tr {
			box-shadow: inset 3px 0 0 0 $warning;
		}
	}
	.row-group.late {
		.tr {
			box-shadow: inset 0 0 0 2px $danger;
			background: theme-color-level(danger, -12);
		}
	}

	// Table Body
	.table-row.selected {
		&.selected {
			//
		}
	}

	.table-row.expanded {
		border-radius: 3px 3px 0 0;
		z-index: 1;
		position: relative;

		i.expanded-toggle {
			transform: rotate(180deg);
		}

	}

	// Jobs Panel
	.table-row + .panel {
		height: 0;
		padding: 30px 20px;
		padding-top: 0px;
		padding-bottom: 0px;
		overflow: hidden;
		transition: all .3s ease;
		align-items: flex-start;
		border-radius: 0 0 3px 3px;

		.panel-title {
			h5 {
				span {
					padding-left: 20px;
					@include font-size(12);
					color: $dark;
					opacity: 0.7;
					font-family: $font-family-sans-serif;
					font-weight: 400;
				}
			}
		}

		// Job action toggler
		.action-toggler.expanded {
			padding: 12px 10px 20px 10px;

			& > div {
				text-align: center;
			}

			.title {
				font-family: $font-headers;
				@include font-size(12);
				color: $dark;
				font-weight: 500;
			}
			.description {
				user-select: none;
				text-align: center;
				p {
					font-family: $font-family-sans-serif;
					@include font-size(12);
					margin-bottom: 0;
					margin-top: 6px;
					line-height: 1.2 !important;
				}
			}

			&.not-required {
				.title {
					opacity: 0.5;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					margin-bottom: 6px;
				}

				.toggle-button {
					width: 35px;
					height: 35px;
					border-radius: 4px;
					margin: 0 auto;
					background: #DADADA;
					border: none;
				}
			}
		}

	}
	.table-row.expanded + .panel {
		height: 250px;
		line-height: inherit;
		padding: 30px 20px;
	}


}
