h1 {
  text-transform: lowercase;
  font-weight: 600;
}

h2 {
  text-transform: lowercase;
}

h3 {
  text-transform: lowercase;
}

h4 {
  text-transform: lowercase;
}

p {
  font-weight: 500;
  font-size: rem-calc(16);
}

p.header-lead {
  font-size: rem-calc(20);
  font-weight: bold;
  color: $brand-grey;
  margin-bottom: 0;
}

.color-brand {
  color: $brand;
}

// Span Styles
span {
  &.strong {
    font-weight: bold;
  }
}
